# Copier en secret.tfvars — NE JAMAIS committer dans Git

# Token API Proxmox → Proxmox > Datacenter > Permissions > API Tokens
pm_api_token_id     = "tofu-user@pve!tofu-token"
pm_api_token_secret = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# Clé SSH publique → obtenir avec : cat ~/.ssh/id_ed25519.pub
ssh_public_key = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# Mot de passe des VMs (lab uniquement)
vm_password = "ladmin"